.App {
  text-align: center;
  scroll-snap-align: start none;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #04A777;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 2.1em;
  font-weight: 300;
}

.docScroller {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-destination: 100% 0%;
}

.docScroller::-webkit-scrollbar {
  display: none;
}

.inside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconImage {
  height: 25vmin;
  padding-top: 30px;
}

.hungry, .stepOne, .stepTwo, .stepThree, .stepFour, .stepFive, .stepSix {
  display: block;
  height: 100vh;
  scroll-snap-align: start none;
}

.hungry {
  background: #f3c4b3;
}

.hungry h1 {
  margin-bottom: 45px;
}

.hungry .iconImage {
  padding-top: 10px;
}

.stepOne .iconImage {
  height: 28vmin;
  padding-top: 0;
}

.stepTwo .iconImage {
  height: 30vmin;
}

.stepFour .iconImage {
  padding-top: 40px;
}

.stepFive .iconImage {
  height: 28vmin;
  padding-top: 10px;
}

.stepOne {
  background: #E0CA3C;
}

.stepTwo {
  background: #f3c4b3;
}

.stepThree {
  background: #E0CA3C;
}

.stepThree .inside {
  padding: 0 30px;
}

.stepFour {
  background: #f3c4b3;
}

.stepFive{
  background: #04A777;
}

.stepSix{
  background: #f3c4b3;
}

@media only screen and (max-width: 768px) {
  .App-logo {
    height: 25vmin;
  }

  .App-header {
    padding: 0 3em;
  }

  .docScroller {
    width: 800vw;
    scroll-snap-type: x mandatory;
  }

  .MuiGrid-item-2 {
    width: 100vw;
    float: left;
  }

  .hungry .iconImage {
    height: 28vmin;
  }

  .stepOne .iconImage {
    height: 32vmin;
  }

  .stepTwo .iconImage {
    height: 34vmin;
  }

  .stepFive .iconImage {
    height: 30vmin;
  }

}

